doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='theme-color', content='#000000')
  //
    manifest.json provides metadata used when your web app is added to the
    homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
  link(rel='manifest', href='%PUBLIC_URL%/manifest.json')
  link(rel='shortcut icon', href='%PUBLIC_URL%/favicon.ico')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  //
    Notice the use of %PUBLIC_URL% in the tags above.
    It will be replaced with the URL of the `public` folder during the build.
    Only files inside the `public` folder can be referenced from the HTML.
    Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
    work correctly both with client-side routing and a non-root public URL.
    Learn how to configure a non-root public URL by running `npm run build`.
  title My Pro Dict
  meta(name='Description', content='The Pronunciation and Collocation Dictionary for English learners, shows you example sentences and how to use work in the correct way. Helps you to express your ideas naturally and convincingly, prepare for TOEFL, IELTS, or PTE test, and is very useful for writing essays and reports')
  meta(name='Keywords', content='myprodict, pronunciation, collocation, example, mean, usage, english, learning, toefl, ielts, pte')

  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-29094709-20')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-29094709-20', {
      'page_title': 'homepage',
      'page_path': '/'
    });

  // google sign-in platform
  meta(name='google-signin-scope', content='profile email')
  meta(name='google-signin-client_id', content='491465149952-co22mircf6eu425u68mje6gil7vvkl49.apps.googleusercontent.com')
  script(async='', defer='', src='https://apis.google.com/js/platform.js')

  script.
    window.fbAsyncInit = function () {
      FB.init({
        appId: '412628192520335',
        cookie: true,
        xfbml: true,
        version: 'v2.12'
      });
      FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

noscript
  | You need to enable JavaScript to run this app.
#root
//
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.
  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.
  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
